
.header .navbar-nav {
    position: absolute;
    top: 0;
    right: 0;
}

.header .navbar-nav a{
    color: #aac3ba;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 25px;
    font-weight: 600;
    padding-top: 25px;
}

.header .navbar-nav .btn{
    margin-left: 165px;
    margin-top: 15px;
}
.header .navbar-nav a:hover, .header .navbar-nav a:active, .header .navbar-nav a:focus{
    color: #69be28;
    border-bottom: 2px solid #69be28;
}

/* ======== Hero section ========= */

.hero{
    background-image:  linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/heroimg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 350px;
}

.hero .info span {
    font-size: 60px;
    font-weight: bold;
    padding: 15px 0;
    margin-bottom: 25px;
    border-bottom: 2px solid white;
}

/* ======== Hero section ========= */

.headingOne{
    font-size: 36px;
    font-weight: 600;
    color: #006a4d;
    margin-bottom: 10px;
    margin-top: 70px;
}

.headingTwo{
    font-size: 24px;
    color: #006a4d;
    margin-bottom: 10px;
}
.para1{
    font-size: 16px;
}

.info img{
    margin-top: 170px;
}


.speakers{
    background-color: #006a4d;
}

.speakers h2 {
    font-size: 30px;
    padding: 10px;
}

.speakers img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.speakers .btn {
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 20px;
    outline: 1px solid black;
    color: #fff;
    
}

.speakers .btn:hover, .speakers .btn:active, .speakers .btn:focus{
    transition: all .5s ease-in-out;
    background-color: #006a4d;
    background-color: #fff;
    color: black;
}
.footer-icon i{
    font-size: 25px;
    margin: 5px;
}

.footer{
    background-color: #3c3c3c;
}

.footer .year{
    font-weight: 300;
}

@media all and (max-width:768px){
    .header .navbar-nav .btn{
        margin-left: 0;
    }
}